:root{
    --loading-background:#000000b6;
    --background-1: #F4F4F4;
    --background-2: #ffffff;
    --accent-1: #5297C5;
    --accent-2: #FF1865;
    --nav-font-color: #353535;
    --white: #FFFFFF;
}