.footer{
    background-color: var(--accent-1);
}

.footer-limiter{
    height: 200px;
    width: 100%;
    padding-top: 100px;
    color: var(--white);
    justify-content: space-between;
}

.footer-links a{
    text-decoration: none;
    color: var(--white);
    margin-top: 10px;
    font-size: 18px;
}

.footer-links a:hover{
    text-decoration: underline;
}

.footer-bottom-piece{
    width: 100%;
    margin-bottom: 20px;
    color: var(--white);
    justify-content: space-between;
}

.footer-socials-icon{
    width: 35px;
    border: 1px solid var(--accent-1);
    padding: 3px;
    padding-bottom: 1px;
    cursor: pointer;
    margin-right: 20px;
    border-bottom-right-radius: 10px;
}

.footer-socials-icon:hover{
    border-bottom: 1px solid var(--white);
}