/* Designed and developed by Pixeldroid limited pixeldroid@protonmail.com, develop@pixeldroid.com */

.self-center{
    display: flex;
    margin: auto;
}
.self-center-x{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.self-center-y{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.square{
    aspect-ratio: 1/1;
}

.full{
    width: 100%;
    height: 100%;
}

.no-margin{
    margin: 0;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.display-none{
    display: none;
}

.z1{
    z-index: 1;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.border{
    border: 1px solid grey;
}

.full-width{
    width:100%;
}

.max-width{
    max-width: 1200px;
}

.poppins{
    font-family: 'poppins', sans-serif;
}

.tc{
    font-family: 'tc', sans-serif;
}